.heading {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.outer-side {
  background-color: #44b89d;
  border: 2px solid #fff;
  height: auto;
  width: 30%;
  margin-left: auto;
  margin-right: auto;

  .desc {
      color: #000;
    width: 90%;
   
    margin: 5px 30px;
  }
  .number{
    position: relative;
    top: 30px;
    color: #000;
    left: 2px;

  }
}

@media only screen and (max-width: 500px) {
  .heading {
    font-size: 20px;
  }
  .outer-side {
    width: 90%;
    background-color: #44b89d;
    border: 2px solid #fff;
    height: auto;
    margin: 15px;

    img {
      padding: 10px;

      width: 100%;
    }

    .desc {
      width: 90%;

      margin: 5px 30px;
    }
   
  }
}
