.outer-side {
  background-color: #44b89d;
  border: 2px solid #fff;
  height: auto;

  width: 30%;
  margin-left: auto;
  margin-right: auto;

  img {
    padding: 10px;
    width: 100%;
  }

  .desc {
    width: 90%;
    margin: 5px 15px;
  }
}

@media only screen and (max-width: 500px) {
  .outer-side {
    background-color: #44b89d;
    border: 2px solid #fff;
    height: auto;
    width: 90%;
    margin: 15px;

    img {
      padding: 10px;
      width: 100%;
    }

    .desc {
      width: 90%;
      margin: 5px 15px;
    }
  }
}
